<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
</head>
<body>
    <div class="container">
    <h1>Factura</h1>
    <p><strong>Fecha y Hora:</strong> {{ factura['fecha_hora'] }}</p>
    <p><strong>Cliente:</strong> {{ factura['cliente'] }}</p>
    <p><strong>Producto:</strong> {{ factura['Producto'] }}</p>
    <ul>
        {% for item in factura['items'] %}
            <li>{{ item['nombre'] }} - Precio: {{ item['precio'] }} - Cantidad: {{ item['cantidad'] }}  </li>
        {% endfor %}
    </ul>
    <h2>Total: {{ total }}</h2>
    <a href="{{ url_for('agregar_item') }}">Agregar Item</a>
</body>
</div>
</html>


<!--style PD lo agregue directamente en el html de factura pq  como paso con el js no me dejo ponerlo aparte -->
<style>
     body, html {
        
    height: 100%;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .container {
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
    }

</style>